<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップメニュー</title>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<div th:replace="~{common/header :: header}"></div>
<div class="container">
	<div class="center mt-3" th:if="${diagnosisAuthorityKind}">
			<a th:href="@{/diagnosticHistory}" class="btn btn-primary">診断履歴</a>
	</div>

	<div class="center mt-3" th:if="${managementAuthorityKind}">
			<a th:href="@{/userList}" class="btn btn-danger">ユーザー管理画面</a>
	</div><br>

	<div class="center mt-3">
		<a class="btn btn-secondary" th:href="@{/login}">診断</a>
	</div>
</div>
</body>
</html>